In [3]:
import requests
import re
from datetime import datetime
import pandas as pd
import numpy as np

In [19]:
class NotFindDataError(Exception):
    def __init__(self, url):
        self.url

In [ ]:
def yahooStockMajor(stock_id):
    url = "https://tw.stock.yahoo.com/d/s/major_{stock_id}.html".format(stock_id=stock_id)
    res = requests.get(url)
    res.raise_for_status()
    
    tables = pd.read_html(res.text)
    filtered_tables = filter(lambda xx:xx.shape[1] == 8, tables)
    if len(filtered_tables) == 0:
        raise NotFindDataError(url)
    else:
        df = filter(lambda xx:xx.shape[1] == 8, tables)[0]
    
    df = pd.DataFrame(np.r_[df.values[1:,0:3], df.values[1:,4:7]],columns=["broker","long","short"])
    
    pat = re.compile(u"([0-9]+ /[0-9]+ /[0-9]+)")
    date = map(int,pat.findall(res.text)[0].split("/"))
    date[0] = 1911 + date[0]
    date = datetime(*date)
    
    df["stock_id"] = stock_id
    df["date"] = date
    
    df = df[["date","stock_id", "broker","long","short"]]
    
    return df

In [13]:
stock_id = 2451
stock_id = 1542
url = "https://tw.stock.yahoo.com/d/s/major_{stock_id}.html".format(stock_id=stock_id)

In [14]:
res = requests.get(url)

In [17]:
try:
    res.raise_for_status()
except requests.HTTPError as e:
    print e

404 Client Error: Not Found

In [12]:
res.status_code

200

In [70]:
# res.encoding = "utf8"

In [18]:
# print res.text

In [72]:
pat = re.compile(u"([0-9]+ /[0-9]+ /[0-9]+)")

In [73]:
date = map(int,pat.findall(res.text)[0].split("/"))
date[0] = 1911 + date[0]

In [74]:
date = datetime(*date)

In [75]:
tables = pd.read_html(res.text)

In [76]:
df = filter(lambda xx:xx.shape[1] == 8, tables)[0]

In [77]:
df = pd.DataFrame(np.r_[df.values[1:,0:3], df.values[1:,4:7]],columns=["broker","long","short"])

In [78]:
df["stock_id"] = stock_id
df["date"] = date

In [79]:
df = df[["date","stock_id", "broker","long","short"]]

In [80]:
df

         date  stock_id broker long short
0  2015-09-18      2451     統一  648    14
1  2015-09-18      2451   國泰證券  406    12
2  2015-09-18      2451     元富  249    21
3  2015-09-18      2451   瑞士信貸  117    27
4  2015-09-18      2451   凱基證券  121    90
5  2015-09-18      2451   鑫豐證券   29     0
6  2015-09-18      2451  永豐金證券   42    24
7  2015-09-18      2451   群益金鼎   63    49
8  2015-09-18      2451   日盛證券   43    31
9  2015-09-18      2451   大慶證券    7     0
10 2015-09-18      2451     安泰    7     2
11 2015-09-18      2451   國票證券   16    11
12 2015-09-18      2451   兆豐證券   19    16
13 2015-09-18      2451   新光證券   13    10
14 2015-09-18      2451     彰銀    3     0
15 2015-09-18      2451  台灣摩根士    3   678
16 2015-09-18      2451   摩根大通    0   213
17 2015-09-18      2451   美商高盛   60   165
18 2015-09-18      2451  新加坡商瑞    2    97
19 2015-09-18      2451  香港上海匯    0    69
20 2015-09-18      2451    第一金    5    60
21 2015-09-18      2451   花旗環球    0    55
22 2015-09-18      2451  港商德意志   16    65
23 2015-09-18      2451     美林   13    55
24 2015-09-18      2451  台灣東方匯    0    40
25 2015-09-18      2451   華南永昌   21    41
26 2015-09-18      2451   台灣工銀    1    19
27 2015-09-18      2451     亞東   11    17
28 2015-09-18      2451   大昌證券    3     8
29 2015-09-18      2451   元大證券  137   141